/* 三角形AO设计 */

.trinagle {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 60px solid transparent;


}
/* 倒三角 */

.trinagle-pour {
	border-bottom: 0 none;
	border-top: 60px solid transparent;
}

.trinagle-opc{
    opacity: 0.7;
}
.trinagle-opc-2{
    opacity: 0.2;
}
.trinagle-opc-6{
    opacity: 0.6;
}
.trinagle-opc-8{
    opacity: 0.8;
}




/*超小三角*/
.trinagle-xs {}


/** 小三角 **/
.trinagle-sm {
	border-left-width: 18px;
	border-right-width: 18px;
	border-bottom-width: 36px;
}
.trinagle-pour.trinagle-sm{
	border-top-width: 36px;
	border-bottom: 0 none;
}

/** 大三角 **/
.trinagle-lg {
	border-left-width: 40px;
	border-right-width: 40px;
	border-bottom-width: 80px;
}
.trinagle-pour.trinagle-lg{
	border-top-width: 80px;
	border-bottom: 0 none;
}

/* 超大三角 */
.trinagle-sg {
     border-left-width: 70px;
     border-right-width: 70px;
     border-bottom-width: 135px;
 }
.trinagle-pour.trinagle-sg{
    border-top-width: 135px;
    border-bottom: 0 none;
}
/* 更大三角 */
.trinagle-ssg {
    border-left-width: 90px;
    border-right-width: 90px;
    border-bottom-width: 155px;
}
.trinagle-pour.trinagle-ssg{
    border-top-width: 155px;
    border-bottom: 0 none;
}


/* 以下的颜色 因为颜色过多 采用数字标示*/

	
.trinagle.color-01{ border-bottom-color: #f0aa44;}
.trinagle.trinagle-pour.color-01{ border-top-color: #f0aa44; }
	
.trinagle.color-02 {border-bottom-color: #e79d4c;}
.trinagle.trinagle-pour.color-02{border-top-color: #e79d4c;}

.trinagle.color-04 { border-bottom-color: #009691;}
.trinagle.trinagle-pour.color-04{border-top-color: #009691;}

.trinagle.color-09 { border-bottom-color: #ea5950;}
.trinagle.trinagle-pour.color-09{border-top-color: #ea5950;}

.trinagle.color-05 { border-bottom-color: #d4be18;}
.trinagle.trinagle-pour.color-05{border-top-color: #d4be18;}
.trinagle.color-06 { border-bottom-color: #e09687;}
.trinagle.trinagle-pour.color-06{border-top-color: #e09687;}

.trinagle.color-07 { border-bottom-color: #b5164e;}
.trinagle.trinagle-pour.color-07{border-top-color: #b5164e;}

.trinagle.color-08 { border-bottom-color:#7a5a7a;}
.trinagle.trinagle-pour.color-08{border-top-color: #7a5a7a;}

.trinagle.color-03{ border-bottom-color:#b5164e;}
.trinagle.trinagle-pour.color-03{border-top-color:#b5164e;}

