/* scroll 界面基本配置 */
.content,
.content .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.screen-all {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    white-space: nowrap;
    font-size: 0;
}

.screen {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    vertical-align: top;

    color: #000000;


}

.hide {
    display: none;
}

.response-img{
    width: 100%;
    height: 100%;
}


#menu{
    position: fixed;
    bottom: 10px;
    left: 7px;
    z-index: 19;
    width: 40px;
    height: 40px;
}

.btn-icon{
    background-image: url("../../img/menu.png");
    background-color: transparent;
    background-size: 20px 17px;
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    position: relative;
    top: 12px;
    left: 10px;

}

.hide{
    display: none;
}

#left-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    bottom: 0;
    display: none;
    background: #ffffff;

    max-height: 800px;
    height: 800px;
}

.close{
    position: absolute;
    right: 1px;
    top: 9px;
    font-size: 20px;
    z-index: 21;
    color: #000;
    width: 50px;
    height: 50px;
    text-align: center;
}
.mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.35;
    z-index : 19;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.left-content{
    position: absolute;
    z-index : 19;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;

    padding-top: 25px;
}


/** 文字 **/
.left-content-title{
    font-weight: normal;
    line-height: 23px;
    font-size: 20px;
    color: #3e3a39;
    text-align: center;
    margin-bottom: 20px;
}
.left-content-ul{
    overflow: hidden;
    background: #ffffff;
}
.left-content-ul li {
    margin: 7% 0;
    text-align: center;
}


.left-content-ul li a{
    display: block;
    color: #3e3a39;
    font-size: 14px;
}

.left-content-ul  .left-content-badge{
    color: #3e3a39;
}
.left-content-badge{
    font-size: 16px;
}

.left-content-ul .left-content-tran{
    display: block;
    text-align: center;
    -webkit-transform:translateZ(0) rotate(180deg);
    transform:translateZ(0) rotate(180deg);
    font-size: 14px;
    margin: -1px 0;
}

.style-yellow .left-content-badge,  .style-yellow .left-content-tran{
    color: #e79d4c;
}

.style-blue  .left-content-badge,  .style-blue .left-content-tran{
    color: #2faeb8;
}

.style-red  .left-content-badge,  .style-red .left-content-tran{
    color: #ea5950;
}

.trans-main{
    margin-bottom: -4px;
    position : relative;


    transform : scale(1.2);
    -webkit-transform : scale(1.2);
}

.trans{
    fill : #ea5950;

}
.trans-text{
    fill : #ffffff;
}

.trans.color-01{
    fill : #ea5950;
}
.trans.color-02{
    fill : #e79d4c;
}
.trans.color-03{
    fill : #2faeb8;
}

